# Dependencies
/node_modules
/.pnp
.pnp.js
/.venv
/__pycache__
*.pyc

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor
.vscode
.idea
*.swp
*.swo

# Data (Don't commit large datasets)
WA_Fn-UseC_-Telco-Customer-Churn.csv
Telco_Churn_Enrichi_GCP.csv
*.png
!/public/*.png
!public/testimonials/*.png
